In [ ]:
import numpy as np
import pandas as pd

In [5]:
X = pd.read_parquet("/home/cara/Documents/reddit_analyses/thread-size/Test_outputs/conspiracy_train_X.parquet")
y = pd.read_parquet("/home/cara/Documents/reddit_analyses/thread-size/Test_outputs/conspiracy_train_Y.parquet")['log_thread_size']

In [6]:
CLASS_BIN_EDGES = {
    3: [0.5],
    4: [1 / 3, 2 / 3],
}

In [8]:
classes = 4

In [10]:
bin_edges = [np.log(1) - 1e-3]
bin_edges.append(np.log(2) - 1e-3)
bin_edges.extend(
    [y[y > np.log(1)].quantile(x) for x in CLASS_BIN_EDGES[classes]]
)
bin_edges.append(y.max() + 1e-3)

In [12]:
np.exp(bin_edges)

array([  0.9990005 ,   1.998001  ,   7.        ,  22.        ,
       927.92746365])

In [78]:
y_bins = pd.cut(y, bins=bin_edges, labels=False, include_lowest=True)

In [82]:
thread_classes = {}

for i in range(1, 27):
    thread_classes[i] = y_bins[y == np.log(i)].unique()[0]

df = pd.DataFrame.from_dict(thread_classes, orient='index', columns=["class_name"])
df.index.name = "thread_size"
display(df)

             class_name
thread_size
1                     0
2                     1
3                     1
4                     1
5                     1
6                     1
7                     1
8                     2
9                     2
10                    2
11                    2
12                    2
13                    2
14                    2
15                    2
16                    2
17                    2
18                    2
19                    2
20                    2
21                    2
22                    2
23                    3
24                    3
25                    3
26                    3

In [80]:
df.class_name.unique()

array([0, 1, 2, 3])

In [83]:
for i in df.class_name.unique():
    thread_size_vals = df[df.class_name == i].index
    print(f"Class {i}: [{thread_size_vals.min()}, {thread_size_vals.max()}]")

Class 0: [1, 1]
Class 1: [2, 7]
Class 2: [8, 22]
Class 3: [23, 26]

In [108]:
y_bin_counts = y_bins.value_counts().sort_index()
y_bin_counts.index.name = "Class"
thread_size_bins = [round(np.exp(x)) for x in bin_edges]
i = 0
bin_ranges = [[thread_size_bins[i], thread_size_bins[i]]]
for i in range(1, len(thread_size_bins)-1):
    to_append = [bin_ranges[i-1][1]+1, thread_size_bins[i+1]]
    bin_ranges.append(to_append)
bin_count_df = pd.DataFrame(
    {"Range": bin_ranges, "Threads": y_bin_counts}
)

In [109]:
bin_count_df

           Range  Threads
Class
0         [1, 1]      115
1         [2, 7]      241
2        [8, 22]      218
3      [23, 928]      226